@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Calibri', sans-serif;
    color: theme('colors.fire-text');
  }
  h1, h2, h3, h4, h5, h6 {
    color: theme('colors.fire-heading');
  }
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
